<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>LocAlly</title>
        <link rel="icon" type="image/x-icon" href="../img/homeImg/logo.png" />
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script> <!-- jQuery est inclus ! -->
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
        <link href="{{ asset('css/view.css') }}" rel="stylesheet">
        <!-- Core theme JS-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script> <!-- jQuery est inclus ! -->
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
    </head>
   
    <body>
    <!-- Header -->
    {% include 'header.html.twig' %}
    <!---->
        <div id="pageContent" class="d-flex flex-column align-items-start">
            <div class="row w-100 mt-5">
                <div class="col">
                    <!-- les images de produit -->
                    <div class="container">
                        <ul class="thumbnails"></ul>
                        <ul class="slides"></ul>
                    </div>
                </div>

                <div class="col size-20 mx-4">
                    <div class="text-yellow font-bold size-30" id="name-product" ></div>
                    <div class="mt-3">
                       <a href="#" id="name-shop"></a>
                    </div>
                    <div class="mt-3">
                        <div>Quantité</div>
                        <fieldset  data-quantity></fieldset>
                    </div>
                    <div class="d-flex">
                        <div class="mt-3 font-bold mr-2" id="price-product"></div>
                        <div class="mt-3 font-bold d-none" id="discount-price"></div>
                    </div>
                    <div class="mt-3 d-none" id="discount"></div>
                    <div class="mt-3 size-14" id="available-product"></div>
                    <div class="mt-3"> 
                        <button class="btn button" id="add-product"> Ajouter au panier </button>
                    </div>
                </div>
            </div>
            
            <!-- caracteristique + livraison -->
            <div class="row w-80 m-0 my-4 ml-4">
                <div class="wrapper">
                    <ul>
                        <li>
                            <input type="checkbox" id="list-item-1">
                            <label for="list-item-1" class="first">Caracteristiques du produit</label>
                        <div id="about-product"></div>
                        </li>
                        <li>
                            <input type="checkbox" id="list-item-2">
                            <label for="list-item-2" class="last">Details de livraison</label>
                            <div id="delivery-product"></div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal-wrapper" id="modal">
                <div class="modal-body card">
                    <div class="modal-header d-flex align-items-start pb-2">
                        <span class="heading font-bold">Article ajouté au panier avec succès</span>
                        <a id="modalLink" href="#modal" role="button" class="close">
                            <i class="fas fa-times"></i>
                        </a>
                    </div>
                    <div class="d-flex justify-content-between pt-3">
                        <a id="closeModal" class="btn button-sm">Poursuivre mes achats</a>
                        <a id="viewCart" class="btn button-sm">Accéder à mon panier</a>
                    </div>
                </div>
                <a href="#!" class="outside-trigger"></a>
            </div>
        </div>
        
        {% include 'footer.html.twig' %}
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
        <script type="module" src="../js/view-product.js"></script>
    </body>
</html>
