<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>LocAlly</title>
        <link rel="icon" type="image/x-icon" href="../img/homeImg/logo.png" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"/>
        <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet" type="text/css"/>
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css"/>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet">

        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous"/>
        <link href= '{{ asset('css/login.css') }}' rel="stylesheet"/>
    </head>

<body>
{% include 'header.html.twig' %}
    <div class="registration-form">
        <form>
            <center>
                <h2 class="auth-section-title">Mot de passe oublié !</h2>
                <p class="auth-section-subtitle">Saisissez l'adresse mail associé à votre compte LocALLy 
                <br> Nous allons envoyer à cette adresse un lien vous permettant de réinitialiser facilement votre mot de passe  </p>
                <div class="form-icon">
                    <span><i class="icon icon-question"></i></span>
                </div>
            </center>
            <div class="form-control">
                <input type="text" class="" id="email" placeholder="Email">
                <div class="icon">
                    <i class="fas fa-exclamation-circle"></i>
                </div>
                <small class="d-none">error message</small>
            </div>
        </center>
        <div class="form-group">
            <input type="text" class="form-control item" id="email" placeholder="Email">
        </div>
        <center>
        <div class="col-12">
            <button type="submit" class="btn btn-warning"> Valider </button>
        </div>
        <br>
        <div class="col-12">
            <a href="login"><button type="button" class="btn btn-light"> Retour </button></a>
        </div>
        </center>
    </form>
    </div>
    {% include 'footer.html.twig' %}
            <center>
                <div class="col-12">
                    <p id="successMessage" class="d-none">Un e-mail a été envoyé à cette adresse.</p>
                </div>
                <div class="col-12">
                    <p id="errorMessage" class="d-none text-red">Aucun compte de correspond à cette adresse e-mail.</p>
                </div>
                <div class="col-12 mt-3">
                    <button id="buttonSubmit" type="submit" class="login-button btn"> Valider </button>
                </div>
            </center>
        </form>
    </div>
    <div id="footer" class="footer py-4 "></div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <script src="{{ asset('js/passwordForget.js') }}"></script>
</body>
    <!-- Bootstrap core JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Third party plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <!-- Contact form JS-->
    <!-- Core theme JS-->
</html>