<h2 class="auth-section-title">Mot de passe oublié ?</h2>

<p>Saisissez l'adresse mail associée à votre compte LocAlly</p>
<p>Nous allons envoyer à cette adresse un lien vous permettant de réinitialiser votre mot de passe</p>

{{ form(form) }}

<div class="row">
    <button type="submit">Valider</button>
</div>

<div class="row">
    <a href="login">Retour</a>
</div>


