:root{
    --navbar-background-color: #212529;
    --navbar-separator-color:#6c757d;
    --navbar-icon-color: #fed136;
    --navbar-text-color: #fed136;
    --navbar-transition-speed: 50s;
    --navbar-transition-speed1: 1s;
    --primary-color:#6c757d;

}

body{
    /*background-image: url("../img/admin.jpg");*/
    background-size: cover;
    background-position: center;

}
main {
    padding: 1rem 4rem;
    text-align: justify; 
    display: left;

}

#field {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: -100px;
}


.navbar-menu{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 120%;
    background: var(--navbar-background-color);
}

.navbar-menu:hover{
    width:20rem;
}

.navbar-item{
    width: 100%;
    border-bottom: solid 1px var(--navbar-separator-color);
    transition: background-color var(--navbar-transition-speed1);
}

.navbar-item:hover{
    background-color: var(--primary-color);
}
.navbar-item:last-child{
    margin-top: auto;
}

.navbar-link{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 5rem;
    width: 100%;
    text-decoration: none;
}

.navbar-icon{
    text-align: center;
    font-size: 1.5rem;
    min-width: 2rem;
    margin: 0 1.5rem;
    color:var(--navbar-icon-color);
}

.navbar-title{
    color: var(--navbar-text-color) !important;
    font-weight: bold;
}

.navbar:not(:hover) .navbar-title{
    display:none;
}   


.navbar:hover .accueil .navbar-icon{
    transform: rotate(180deg);
} 


/**************Trader Management**************/

tbody tr td a .fa-check{
    color:green;
}

tbody tr td a .fa-trash{
    color: red;
}


.panel-body .tab-content .table-bordered > thead > tr > th{
    text-align:center;
  }

.panel-footer .pagination li{
    height:30px;
    padding:0px;
    margin-left: 5px;
    color: #212529;
  }

.panel-body .pagination > li > a {
    
    font-weight: bold;
    font-size: 20px;
}
  .panel-footer .pagination{
      margin-left: 380px;
  }

/****************************************/
.container-fluid #shopList div{
}