/*custom font*/
/* Style css for creation of shop*/
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap);
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* { padding: 0;}

html {
    height: 100%;
    /*Image only BG fallback*/


}

body {
    font-family: montserrat, arial, verdana;
    opacity: 0.90;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    color: black !important;
}

/**Container: Search**/
#containerSearch{
    width: 1126px;
}

/** City: Filter **/
.btn{
    background-color:#e6b301 ;
}

.flex-wrap select{
    padding: 12px;
    padding-top: 4px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 10px;
    width: 50%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 15px;
  /*appearance: none;
  outline: 0;
  border: 1 !important;
  box-shadow: 1px;
  font-size: 1.2em;
  border-radius: 2px;*/
}
/** Shop: Filter **/
.shop__filter {
    margin-bottom: 10px;
    padding: 10px;
}
.shop__filter .radio-group{
    padding-bottom: 30px;
}

 .radio{
    padding-bottom: 15px;
}
.group-checkbox{
    padding-bottom: 20px;
}
/* Shop filter: Pricing */
.shop-filter__price {
    padding: 40px;
    margin-top : -100px;
    margin-bottom: 10px;
}
.shop-filter__price [class*='col-'] {
    padding: 2px;
}
.headline{
    margin-bottom: 20px;
}
.slider .slider-price form{
    margin-top: 100px;
}
/** Shop: Type **/
.shop-type .form-check{
   margin-bottom: 15px;
}

input[type=checkbox] {
    transform: scale(1);
    cursor: pointer;
  }

.group-checkbox .form-check .form-check-input{ filter: hue-rotate(150deg)}

/** Shop: Sorting **/
#shop_sorting_div{
    padding-left: 200px;
}
.shop__sorting {
    list-style: none;
    margin-bottom: 40px;
    margin-top: -1px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
}
.shop__sorting > li {
    display: inline-block;
    padding-left: 30px;
}
.shop__sorting > li > a {
    display: block;
    padding: 20px 10px;
    margin-bottom: -1px;
    border-bottom: 2px solid transparent;
    color: #757575;
    -webkit-transition: all .05s linear;
    -o-transition: all .05s linear;
    transition: all .05s linear;
    color: black !important;
    font-family: 'Roboto', sans-serif;
}
.shop__sorting > li > a:hover,
.shop__sorting > li > a:focus {
    color: #333333;
    text-decoration: none;
}
.shop__sorting > li.active > a {
    color: #e6b301;
    border-bottom-color: #e6b301;
}

/*.shop__sorting > li > a:before{
    background: #e6b301;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s linear; 
}
.shop__sorting > li > a:hover:before{
    transform: scaleX(1);
    transform-origin: left;
}*/

@media (max-width: 767px) {
    .shop__sorting {
        text-align: left;
        border-bottom: 0;
    }
    .shop__sorting > li {
        display: block;
    }
    .shop__sorting > li > a {
        padding: 10px 15px;
        margin-bottom: 10px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    .shop__sorting > li.active > a {
        font-weight: 600;
    }
}
/****** barre de recherche************/
.recherche_p {
    border-bottom-color:#e6b301 ;
    padding-left: 0;
    margin-bottom: 40px;
    margin-top: -1px;
    border-color: black;
}
.recherche-input {
    border: 1px;
    max-width: 400px;
    border-radius: 6px;
    line-height: 35px;
    margin-left: 300px;
}

.recherche-icone{
    color: #e6b301;
}

.w-100 {
    width: 100%;
}

.w-80 {
    width: 80%;
}

/* Has error */
.has-error .form-control {
    border-color: #d9534f;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.has-error .form-control:focus {
    border-color: #b52b27;
}
.has-error .help-block {
    color: #d9534f;
}
/* Checkboxes */
.checkbox input[type="checkbox"] {
    display: none;
}
.checkbox label {
    padding-left: 0;
}
.checkbox label:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    background-color: #eee;
    text-align: center;

}
.checkbox input[type="checkbox"]:checked + label::before {
    content: "\f00c";
}
h5  /*.pagination-div*/{
    text-align: center ;
}
.card-footer{
    text-align: center !important;
}
.pagination-div{
    margin: auto;
}
#pagination-demo{
    display: inline-block;
    margin-bottom: 1.75em;
}
#pagination-demo li{
    display: inline-block;
}

.page-content{
    background: #eee;
    display: inline-block;
    padding: 10px;
    width: 100%;
    max-width: 660px;
}
