/*custom font*/
/* Style css for creation of shop*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/* nothing below this point is needed*/
@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:300,400,600,700,800,900&display=swap');
/*****A revoir********/
/*@import "compass/css3";*/

/*basic reset*/
* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    /*Image only BG fallback*/

    /*background = gradient + image pattern combo*/
    /*background:
            linear-gradient(rgba(196, 102, 0, 0.6), rgba(155, 89, 182, 0.6));*/
}

body {
    font-family: montserrat, arial, verdana;
    background-image: url("../img/fond-creation-magasin.jpg");
    opacity: 0.90;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    color: white !important;

}
/***********test***********/
/*form styles*/
#msform {
    width: 1000px;
    margin: 10px auto;
    text-align: center;
    position: relative ;
    min-height: 85%;

}
#msform fieldset{
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;

    /*stacking fieldsets above each other*/
    position: relative !important;
}

#msform select{
    background: white;
    border: 0 none;
    border-radius: 3px;
    padding: 20px 30px;
    box-sizing: border-box;
    /*stacking fieldsets above each other*/
    position: relative; !important;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}
/*inputs*/
#msform input, #msform textarea , #msform input_fields_wrap,#msform select{
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 5px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
}

/*buttons*/
#msform .action-button, #msform .add_field_button, #msform .input_fields_photos .add_field_button2, .btn{
    width: 100px;
    background: #e6b301;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #e6b301;
}
/*headings*/
.fs-title{
    font-size: 15px;
    text-transform: uppercase;
    color: #2c3e50;
    margin-bottom: 10px;
}
.fs-subtitle{
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}

/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}
#progressbar li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 9px;
    width: 33.33%;
    float: left;
    position: relative;
}
#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 20px;
    line-height: 20px;
    display: block;
    font-size: 10px;
    color: #333;
    background: white;
    border-radius: 3px;
    margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
    background: #e6b301;
    color: white;
}

/*----Css add and Update Article----*/
.container #upart{
    width: 60%;
    margin: 8px auto;
    text-align: center;
    min-height: 90%;
    position: relative !important;
}

.container input{
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 5px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat, arial, verdana;
    color: #2C3E50;
    font-size: 10px;

}
.container .checkbox{
    font-family: montserrat, arial, verdana;
    padding: 15px;

}
.container .fs-title{
    font-size: 20px;
    text-transform: uppercase;
    color: black;
    margin-bottom: 30px;
    padding: 10px;
    font-family: montserrat, arial, verdana;
    font-weight: bold;

}

.container label{
    font-family: montserrat, arial, verdana;
    color: black;

}
.container .form-group, .container .checkbox{
    display: inline-block;
}
.container #form-article, .container #form-add-article{
    background-color: white;
}
/*---Css add and Update-Article End----*/


.fa {
    font-size: 25px;
    cursor: pointer;
}
/* Style css for creation of articles*/
.form-group{
    margin-bottom: 20px;
}
.checkbox{
    margin-bottom: 20px;
}
label{
    font-family: "Arial", serif;
}
/* Style for update-shop*/

.uslabel{
    text-align: left !important;
    font-family: "montserrat", serif;
    color: #2c3e50 !important;
}

input {
    text-align: center;
    border: none;
    background: transparent;
}
th {
    text-align: center;
    vertical-align: middle;
    color: #2c3e50 !important;
    font-family: "montserrat", serif;
}

td {

    text-align: center;
    vertical-align: middle;
}

.datepicker {
    text-align: center;
    width:158px;
    height:34px;
}
.table-editable {
    position: relative;
}

.glyphicon {
    font-size: 20px;
}


.table-remove {
    color: #700;
    cursor: pointer;
}
a:hover {
     color: #f00;
 }


.table-up, .table-down {
    color: #007;
    cursor: pointer;
}
a:hover {
     color: #00f;
 }

.bootstrap-timepicker {
    position: relative;
}
.bootstrap-timepicker.pull-right .bootstrap-timepicker-widget.dropdown-menu {
    left: auto;
    right: 0;
}
.bootstrap-timepicker.pull-right .bootstrap-timepicker-widget.dropdown-menu:before {
    left: auto;
    right: 12px;
}
.bootstrap-timepicker.pull-right .bootstrap-timepicker-widget.dropdown-menu:after {
    left: auto;
    right: 13px;
}
.bootstrap-timepicker .input-group-addon {
    cursor: pointer;
}
.bootstrap-timepicker .input-group-addon i {
    display: inline-block;
    width: 16px;
    height: 16px;
}
.bootstrap-timepicker-widget.dropdown-menu {
    padding: 4px;
}
.bootstrap-timepicker-widget.dropdown-menu.open {
    display: inline-block;
}
.bootstrap-timepicker-widget.dropdown-menu:before {
    border-bottom: 7px solid rgba(0, 0, 0, 0.2);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    content: "";
    display: inline-block;
    position: absolute;
}
.bootstrap-timepicker-widget.dropdown-menu:after {
    border-bottom: 6px solid black;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: "";
    display: inline-block;
    position: absolute;
}
.bootstrap-timepicker-widget.timepicker-orient-left:before {
    left: 6px;
}
.bootstrap-timepicker-widget.timepicker-orient-left:after {
    left: 7px;
}
.bootstrap-timepicker-widget.timepicker-orient-right:before {
    right: 6px;
}
.bootstrap-timepicker-widget.timepicker-orient-right:after {
    right: 7px;
}
.bootstrap-timepicker-widget.timepicker-orient-top:before {
    top: -7px;
}
.bootstrap-timepicker-widget.timepicker-orient-top:after {
    top: -6px;
}
.bootstrap-timepicker-widget.timepicker-orient-bottom:before {
    bottom: -7px;
    border-bottom: 0;
    border-top: 7px solid #999;
}
.bootstrap-timepicker-widget.timepicker-orient-bottom:after {
    bottom: -6px;
    border-bottom: 0;
    border-top: 6px solid black;
}
.bootstrap-timepicker-widget a.btn,
.bootstrap-timepicker-widget input {
    border-radius: 4px;
}
.bootstrap-timepicker-widget table {
    width: 100%;
    margin: 0;
}
.bootstrap-timepicker-widget table td {
    text-align: center;
    vertical-align:middle;
    height: 30px;
    margin: 0;
    padding: 2px;
}
.bootstrap-timepicker-widget table td:not(.separator) {
    min-width: 30px;
}
.bootstrap-timepicker-widget table td span {
    width: 100%;
}
.bootstrap-timepicker-widget table td a {
    border: 1px transparent solid;
    width: 100%;
    display: inline-block;
    margin: 0;
    padding: 8px 0;
    outline: 0;
    color: #333;
}
.bootstrap-timepicker-widget table td a:hover {
    text-decoration: none;
    background-color: #eee;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border-color: #ddd;
}
.bootstrap-timepicker-widget table td a i {
    margin-top: 2px;
    font-size: 18px;
}
.bootstrap-timepicker-widget table td input {
    width: 25px;
    margin: 0;
    text-align: center;
}
.bootstrap-timepicker-widget .modal-content {
    padding: 4px;
}
@media (min-width: 767px) {
    .bootstrap-timepicker-widget.modal {
        width: 200px;
        margin-left: -100px;
    }
}
@media (max-width: 767px) {
    .bootstrap-timepicker {
        width: 100%;
    }
    .bootstrap-timepicker .dropdown-menu {
        width: 100%;
    }
}
.table-add {
    color: #070;
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 8px;
}
a:hover {
     color: #0b0;
 }

.cancel{
    color: #e6b301;
}
