/********Articles***********/
#articles-container{
    margin-bottom: 50px;
    
    padding-bottom: 30px;
    border-radius: 20px;
    
}

.col .card{
    /*filter: drop-shadow(0 0 0.4rem );*/
    /*filter: drop-shadow(0 -6mm 4mm #fed136 );*/
    box-shadow: 5px 2px 2px rgb(254, 209, 54, 0.5);
}
/***********Pagination***********/
.pagePagination ul{
    margin-left: 295px;
}

.pagePagination ul li a{
    color: gray !important;
    border-radius: 10px;
    border: 2px solid;
    border-color: #343a40;
}

/**************card******************/
.btn{
    background-color: #343a40 !important ;
    width: 60px;
}

.row .col a {
    color: white !important;
    border: none;
    display: inline; /* the default for span */
    width: 4
    0px;
    height: 25px;
    padding: 5px;
}

.card .card-footer small{
    
    margin-bottom: 35px;
    font-size: 14px;
    font-weight: bold;
}

.card-footer .smallDiv {
    background-color: white;
    margin: 10px;
    text-align: center;
}