/********Articles***********/
#articles-container{
    margin-bottom: 50px;
    padding-bottom: 30px;
    border-radius: 20px;
}

.col .card{
    box-shadow: 5px 2px 2px rgb(254, 209, 54, 0.5);
}
/***********Pagination***********/
.pagePagination ul{
    margin-left: 295px;
}

.pagePagination ul li a{
    color: gray !important;
    border-radius: 10px;
    border: 2px solid;
    border-color: #343a40;
}

.pagePagination #pagination li .disabled{
    color: rgba(207, 179, 78) !important;
    background-color: lightcoral;
}
/**************card******************/
.card-body h5{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: x-large;
    font-weight: bold;
}
.btn{
    background-color: #343a40 !important ;
    width: 60px;
}

.row{
    margin-left: 10px;
}
.row .col a {
    color: white !important;
    border: none;
    display: inline; /* the default for span */
    width: 4
    0px;
    height: 25px;
    padding: 5px;
}

.card .card-footer small{
    
    margin-bottom: 35px;
    font-size: 14px;
    font-weight: bold;
}

.card-footer .smallDiv {
    background-color: white;
    margin: 10px;
    text-align: center;
}

.card-footer .stateDiv{
    text-align: center;
    margin: 10px;
    font-family: 'Open Sans Condensed', sans-serif;
}

.col .card-img-top:hover{
    -ms-transform: scale(0.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(0.5); 
}
