div#pageContent {
  min-height: 80%;
}

.line {
  text-decoration: line-through;
}

.pointer {
  cursor: pointer;
}

div#delivery select{
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 5px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2C3E50;
  font-size: 13px;
}

div#delivery label{
  font-size: 18px;
  text-transform: uppercase;
  color: #777;
}

div#delivery {
  padding: 1.5rem;
  margin-left: 2rem;
}

span#emptyCart {
  font-weight: bold;
  font-size: large;
  color: #f69679;
}


* {
  box-sizing: border-box;
}
.cf:before, .cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
}
.wrap {
  width: 75%;
  max-width: 960px;
  margin: 0 auto;
  padding: 5% 0;
  margin-bottom: 5em;
}
.projTitle {
  font-weight: bold;
  text-align: center;
  font-size: 2em;
  padding: 1em 0;
  border-bottom: 1px solid #dadada;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.projTitle span {
  font-weight: normal;
  font-style: italic;
  text-transform: lowercase;
  color: #777;
}
.heading {
  padding: 1em 0;
  border-bottom: 1px solid #d0d0d0;
  margin-right: 2rem;
  margin-left: 2rem;
  width: 95%;
}
.heading h1 {
  font-size: 2em;
  float: left;
}
.heading a.continue:link, .heading a.continue:visited {
  text-decoration: none;
  letter-spacing: -0.015em;
  padding: 1em;
  color: #fff;
  background: #82ca9c;
  font-weight: bold;
  border-radius: 50px;
  float: right;
  text-align: right;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
.heading a.continue:after {
  content: "\276f";
  padding: 0.5em;
  position: relative;
  right: 0;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -ms-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}
.heading a.continue:hover, .heading a.continue:focus, .heading a.continue:active {
  background: #f69679;
}
.heading a.continue:hover:after, .heading a.continue:focus:after, .heading a.continue:active:after {
  right: -10px;
}
.tableHead {
  display: table;
  width: 100%;
  font-size: 0.75em;
}
.tableHead li {
  display: table-cell;
  padding: 1em 0;
  text-align: center;
}
.tableHead li.prodHeader {
  text-align: left;
}
.cart {
  padding: 1em 0;
}
.cart ul {
  padding-left: 2rem;
  padding-right: 2rem;
}
.cart .items {
  display: block;
  width: 100%;
  vertical-align: middle;
  padding: 1.5em;
  border-bottom: 1px solid #fafafa;
}
.cart .items.even {
  background: #fafafa;
}
.cart .items .infoWrap {
  display: table;
  width: 100%;
}
.cart .items .cartSection {
  display: table-cell;
  vertical-align: middle;
}
.cart .items .cartSection .itemNumber {
  font-size: 0.75em;
  color: #777;
  margin-bottom: 0.5em;
}
.cart .items .cartSection h3 {
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.025em;
}
.cart .items .cartSection h4 {
  font-size: 0.75em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.015em;
}
.cart .items .cartSection span {
  display: inline-block;
  font-size: 16px;
  color: #777;
}
.cart .items .cartSection p .quantity {
  font-weight: bold;
  color: #333;
}
.cart .items .cartSection span.stockStatus {
  color: #82ca9c;
  font-weight: bold;
  text-transform: uppercase;
}
.cart .items .cartSection p.stockStatus.out {
  color: #f69679;
}
.cart .items .cartSection .itemImg {
  width: 4em;
  float: left;
}
.cart .items .cartSection.qtyWrap, .cart .items .cartSection.prodTotal {
  text-align: center;
}
.cart .items .cartSection.qtyWrap p, .cart .items .cartSection.prodTotal span {
  font-weight: bold;
  font-size: 1.25em;
}
.cart .items .cartSection input.qty {
  width: 2em;
  text-align: center;
  font-size: 1em;
  padding: 0.25em;
  margin: 1em 0.5em 0 0;
}
.cart .items .cartSection .itemImg {
  width: 8em;
  display: inline;
  padding-right: 1em;
}
.special {
  display: block;
}
.special .specialContent {
  padding: 1em 1em 0;
  display: block;
  margin-top: 0.5em;
  border-top: 1px solid #dadada;
}
.special .specialContent:before {
  content: "\21b3";
  font-size: 1.5em;
  margin-right: 1em;
  color: #6f6f6f;
  font-family: helvetica, arial, sans-serif;
}
a.remove {
  text-decoration: none !important;
  color: #fff !important;
  font-weight: bold;
  background-color: #e0e0e0 !important;
  padding: 0.5em 0.7em 0.8em 0.7em;
  font-size: 0.75em;
  display: inline-block;
  border-radius: 100%;
  line-height: 0.85;
  -webkit-transition: all 0.25s linear !important;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
a.remove:hover {
  background-color: #f30 !important;
  text-decoration: none !important;
  color: #fff !important;
}
.promoCode {
  border: 2px solid #efefef;
  float: left;
  width: 35%;
  padding: 1.5rem;
  margin-left: 2rem;
}
.promoCode label {
  display: block;
  width: 100%;
  font-style: italic;
  font-size: 1.15em;
  margin-bottom: 0.5em;
  letter-spacing: -0.025em;
}
.promoCode input {
  width: 85%;
  font-size: 1em;
  padding: 0.5em;
  float: left;
  border: 1px solid #dadada;
}
.promoCode input:active, .promoCode input:focus {
  outline: 0;
}
.promoCode a.btn {
  float: left;
  width: 15%;
  padding: 0.75em 0;
  border-radius: 0 1em 1em 0;
  text-align: center;
  border: 1px solid #fed136 !important;
}
.promoCode a.btn:hover {
  border: 1px solid #dc7a35 !important;
  background-color: #dc7a35 !important;
  text-decoration: none !important;
}

.cart .items .cartSection span.bg-red.cancel {
  background-color: darkred;
  color: white;
}

.btn:link, .btn:visited {
  text-decoration: none;
  letter-spacing: -0.015em;
  font-size: 1em;
  padding: 1em 3em;
  color: #fff !important;
  background-color: #fed136 !important;
  font-weight: bold;
  border-radius: 50px;
  float: right;
  text-align: right;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
.btn:after {
  content: "\276f";
  padding: 0.5em;
  position: relative;
  right: 0;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -ms-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}
.btn:hover, .btn:focus, .btn:active {
  background-color: #f69679 !important;
  text-decoration: none !important;
}
.btn:hover:after, .btn:focus:after, .btn:active:after {
  right: -10px;
}
.promoCode .btn {
  font-size: 0.85em;
  padding: 0.5em 2em;
}
/* TOTAL AND CHECKOUT */
.subtotal {
  float: right;
  width: 95%;
  margin-bottom: 3rem;
}
.subtotal ul {
  list-style: none;
  width: inherit;
}
.subtotal .totalRow {
  padding: 0.5em;
  text-align: right;
}
.subtotal .totalRow.final {
  font-size: 1.25em;
  font-weight: bold;
}
.subtotal .totalRow span {
  display: inline-block;
  padding: 0 0 0 1em;
  text-align: right;
  font-size: 18px;
}
.subtotal .totalRow .label {
  font-size: 18px;
  text-transform: uppercase;
  color: #777;
}
.subtotal .totalRow .value {
  letter-spacing: -0.025em;
  width: 20%;
}
.cartSection.removeWrap{
  text-align: right;
}
@media only screen and (max-width: 39.375em) {
  .wrap {
    width: 98%;
    padding: 2% 0;
 }
  .projTitle {
    font-size: 1.5em;
    padding: 10% 5%;
 }
  .heading {
    padding: 1em;
    font-size: 90%;
 }
  .cart .items .cartSection {
    width: 90%;
    display: block;
    float: left;
 }
  .cart .items .cartSection.qtyWrap {
    width: 10%;
    text-align: center;
    padding: 0.5em 0;
    float: right;
 }
  .cart .items .cartSection.qtyWrap:before {
    content: "QTY";
    display: block;
    padding: 0.25em;
    font-size: 0.75em;
 }
  .cart .items .cartSection.prodTotal, .cart .items .cartSection.removeWrap {
    display: none;
 }
  .cart .items .cartSection .itemImg {
    width: 25%;
 }
  .promoCode, .subtotal {
    width: 100%;
 }
  a.btn.continue {
    width: 100%;
    text-align: center;
 }
}


/* MODAL */

/*$opacity-transition: opacity $speed ease-in-out;*/

.modal-header {
	align-items: baseline;
	display: flex;
	justify-content: space-between;
  padding: 0;
}

.close {
	background: none;
	border: none;
	cursor: pointer;
	display: flex;
	height: 16px;
	text-decoration: none;
	width: 16px;
}

.close svg {
  width: 16px;
}

.modal-wrapper {
	align-items: center;
	background: rgba(0, 0, 0, 0.7);
	bottom: 0;
	display: flex;
	justify-content: center;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
}

#modal {
	opacity: 0;
	transition: opacity ease-in-out;
	visibility: hidden;
}

#modal:target {
  opacity: 1;
  visibility: visible;
}

#modal:target .modal-body {
  opacity: 1;
  transform: translateY(1);
}

#modal .modal-body {
  max-width: 500px;
  opacity: 0;
  transform: translateY(-100px);
  transition: opacity ease-in-out;
  width: 100%;
  z-index: 1;
}


.outside-trigger {
	bottom: 0;
	cursor: default;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
}

.button__link {
	text-decoration: none;
}


.font-bold{
  font-weight: bold;
}

div#pageContent .button-sm {
  padding: .25rem .5rem;
  font-size: .875rem;
  border-radius: 2rem;
  font-weight: bold;
  background-color: #FED136 !important;
  border: none;
  color: white !important;
}