<!-- Footer-->
<link href="{{ asset('css/header_footer.css') }}" rel="stylesheet"/>
<div class="pt-3 m-0 border_top_dash row d-flex justify-content-center mx-5 align-items-end ">
    <div class="col">
        <div class="text-lg-left">Copyright © locALLy 2021</div>
    </div>

        <div class="col">
            <div class=" d-flex justify-content-end">
                <a class="mx-2" href="#">FAQ</a>
                <a class="mx-2" href="#">Conditions Générales d'Utilisation</a>

            </div>
            <div class=" d-flex justify-content-end">
                <a class="mx-2" href="#">A propos</a>
                <a class="mx-2" href="home#contact">Contactez-nous</a>
            </div>
        </div>
    </div>